<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clips Template</title>

  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="custom.css" rel="stylesheet">
</head>
<body class="bg-main text-gray-200">
  <!-- Header -->
  <header id="header" class="bg-secondary">
    <nav class="container mx-auto flex justify-start items-center py-8 px-4">
      <!-- App Name -->
      <a class="text-3xl text-indigo-400 font-bold uppercase mr-4" href="index.html">Clipz</a>

      <div class="flex flex-grow items-center">
        <!-- Primary Navigation -->
        <ul class="flex flex-row mt-1">
          <!-- Navigation Links -->
          <li>
            <a class="px-2" href="#">Login / Register</a>
          </li>
          <li>
            <a class="px-2" href="#">Manage</a>
          </li>
          <li>
            <a class="px-2" href="#">Upload</a>
          </li>
          <li>
            <a class="px-2" href="about.html">About</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- Main Content -->
  <p class="container mx-auto mt-4">
    This is a basic about page to demonstrate basic routing capabilities.
  </p>
  
</body>
</html>